*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.main-header-container{
    background: red;
    margin: 0 auto;
}

.main-header-container img {
    width:60px;
    height:60px;
}

.main-header{
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: rigth;
    gap: 20px;
}
.main-header-links a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

.main-header-links a:hover { 
    color: white;
}
/* Main */

.main-content{
    display:flex;
    min-height:100vh;
    background:white;
}

.sidebar{
    padding:30px;
    flex-grow: 1;
    border-right: 1px solid black;
}

.page-content{
    padding:30px;
    flex-grow: 1;
}

/* main footer */
.main-footer-container{
    background: red;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;   
}

.main-footer-links a{
    text-decoration: none;
    color:black;
}
.main-footer-links a:hover{
    filter: brightness();
    color:white;
}