{% extends 'landingpage/pages/base.html' %}

{% block title %}Coffee{% endblock title %}

{% block content %}
<div class="page-content">
    <div class="page-title">
        <h1>Coffee</h1>
    </div>
    <h2>Coffee: An Inspiring Beverage</h2>

    <p>Coffee is one of the most cherished beverages worldwide, known for its rich history, diverse flavors, and irresistible aroma. Originating from the mountainous regions of Ethiopia, coffee has captured the hearts of people from all cultures throughout the centuries.</p>

    <h2>The Origin of Coffee</h2>

    <p>Legend has it that an Ethiopian shepherd named Kaldi discovered coffee when he noticed that his goats became more lively and energetic after eating the fruits of an unknown plant. Curious, Kaldi tried the fruits and experienced a revitalizing sensation. He shared this discovery with local monks who began using the plant to create a beverage that helped them stay awake and alert during their long nightly prayers.</p>

    <h2>Varieties of Coffee Beans</h2>

    <p>There are several varieties of coffee beans, each with its own unique flavor and characteristics. The two most well-known coffee varieties are <em>Arabica</em> and <em>Robusta</em>. Arabica coffee is appreciated for its smooth and aromatic flavor, while Robusta coffee is stronger and has a higher caffeine concentration.</p>

    <h2>Preparation and Ritual</h2>

    <p>Preparing a cup of coffee is more than just making a hot beverage. It is a ritual that involves selecting the beans, grinding them, the brewing method, and even the tasting ceremony. Many people have their own preferences for how they like their coffee - whether it's a rich Italian espresso, a mild filtered coffee, or a creamy cappuccino.</p>

    <h2>Coffee in the Modern World</h2>

    <p>Today, coffee plays a pivotal role in global culture. Cafes can be found on every corner, offering a variety of drinks and brewing methods. Besides being a delightful beverage, coffee also sparks social gatherings, work meetings, and moments of relaxation.</p>

    <p>Therefore, from its humble origins in the Ethiopian lands to becoming one of the world's most beloved beverages, coffee continues to captivate people with its unmistakable flavor and aroma.</p>
</div>
{% endblock content %}