{% extends 'landingpage/pages/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="home-content">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    
    
   
    
    
   
</div>
{% endblock content %}