{% extends 'landingpage/pages/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="page-content">
    <div class="page-title">
        <h1>Home</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut voluptatibus doloremque laudantium numquam unde, ducimus provident ratione minus itaque. Aliquam maiores enim expedita, molestiae esse ab recusandae pariatur placeat nobis.</p>
</div>
{% endblock content %}