{% extends 'landingpage/pages/base.html' %}

{% block title %}Tea{% endblock title %}

{% block content %}
<div class="page-content">
    <div class="page-title">
        <h1>Tea</h1>
    </div>
    <h2>Tea: A Soothing Elixir</h2>

    <p>Tea is one of the most beloved beverages in the world, cherished for its rich history, diverse flavors, and calming qualities. With its origins dating back to ancient China, tea has evolved into a global cultural phenomenon enjoyed by people of all walks of life.</p>

    <h2>The Origin of Tea</h2>

    <p>The legend of tea's discovery is attributed to Emperor Shen Nong, who, while boiling water in the shade of a tea tree, had tea leaves accidentally blow into his pot. Intrigued by the aroma and flavor, he tasted the brew and found it both refreshing and invigorating. This marked the beginning of the tea tradition.</p>

    <h2>Varieties of Tea</h2>

    <p>Tea comes in a wide range of varieties, each with its own unique flavor profile and characteristics. Some of the most popular types include green tea, black tea, oolong tea, and herbal tea. Green tea is known for its grassy and vegetal notes, while black tea boasts a robust and full-bodied flavor.</p>

    <h2>Preparation and Ceremony</h2>

    <p>Preparing a cup of tea is an art form in itself, often involving specific temperatures, steeping times, and rituals. Tea ceremonies, such as the Japanese tea ceremony, are deeply rooted in tradition and focus on mindfulness and connection with nature.</p>

    <h2>Tea in the Modern World</h2>

    <p>Today, tea is not only a popular beverage but also a symbol of relaxation and hospitality. Teahouses and specialty tea shops can be found worldwide, offering an array of teas to suit every palate. Whether it's a soothing cup of chamomile before bedtime or a refreshing iced tea on a hot summer day, tea continues to be a source of comfort and enjoyment.</p>

    <p>From its ancient beginnings to its modern-day appeal, tea remains a cherished elixir that brings people together and provides solace in a busy world.</p>
</div>
{% endblock content %}